.kb-injector-header-space::after {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* 画像の縦横比に合わせて調整 */
  background-image: url("https://fukufukuyama-petsougi.com/wp-content/uploads/2025/11/刻印カプセルフォントとオーダー例-1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
